
data/creditcard.csv
log/.DS_Store
plots/.DS_Store
.idea/dictionaries/tomasotrinci.xml
.idea/Imbalanced-data.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
__pycache__/config.cpython-37.pyc
__pycache__/data_exploration.cpython-37.pyc
__pycache__/supervised.cpython-37.pyc
__pycache__/unsupervised.cpython-37.pyc
__pycache__/utilities.cpython-37.pyc
.idea/workspace.xml
.DS_Store
runs/May01_17-00-34_MacBook-Pro-di-Tomaso.localRun's ID = 1/1588345332.304388/events.out.tfevents.1588345332.MacBook-Pro-di-Tomaso.local.35743.1
runs/May01_17-00-34_MacBook-Pro-di-Tomaso.localRun's ID = 1/events.out.tfevents.1588345234.MacBook-Pro-di-Tomaso.local.35743.0
runs/May01_17-56-55_MacBook-Pro-di-Tomaso.localRun's ID = 2/1588348740.672841/events.out.tfevents.1588348740.MacBook-Pro-di-Tomaso.local.35819.1
runs/May01_17-56-55_MacBook-Pro-di-Tomaso.localRun's ID = 2/events.out.tfevents.1588348615.MacBook-Pro-di-Tomaso.local.35819.0
runs/May01_18-14-10_MacBook-Pro-di-Tomaso.localRun's ID = 3/1588349781.561665/events.out.tfevents.1588349781.MacBook-Pro-di-Tomaso.local.35860.1
runs/May01_18-14-10_MacBook-Pro-di-Tomaso.localRun's ID = 3/events.out.tfevents.1588349650.MacBook-Pro-di-Tomaso.local.35860.0
runs/May01_18-19-25_MacBook-Pro-di-Tomaso.localRun's ID = 4/1588350070.526182/events.out.tfevents.1588350070.MacBook-Pro-di-Tomaso.local.35880.1
runs/May01_18-19-25_MacBook-Pro-di-Tomaso.localRun's ID = 4/events.out.tfevents.1588349965.MacBook-Pro-di-Tomaso.local.35880.0
runs/May01_18-40-36_MacBook-Pro-di-Tomaso.localRun's ID = 5/1588351251.8063731/events.out.tfevents.1588351251.MacBook-Pro-di-Tomaso.local.35948.1
runs/May01_18-40-36_MacBook-Pro-di-Tomaso.localRun's ID = 5/events.out.tfevents.1588351236.MacBook-Pro-di-Tomaso.local.35948.0
__pycache__/personalized_autoencoder.cpython-37.pyc
